main {
  display: flex;
  font-family: sans-serif;
  background-color: #FBFEFC;
  justify-content: space-between;
  box-sizing: border-box;
}

.img1 {
  width: 1px;
  height: 10px;
  object-fit: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#btn-arrow-main {
  width: 70%;
  min-width: 150px;
  height: 45px;
  color: #FBFEFC;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 15px;
  border-style: solid;
  border-color: #52C771;
  background-color: #52C771;
}
#btn-arrow-main:hover {
  border-radius: 15px;
  padding-right: 38px;
  padding-left: 8px;
}
#btn-arrow-main:hover:after {
  opacity: 1;
  right: 10px;
}
#btn-arrow-main:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 38px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
