@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-background-color: #FBFEFC;
    --main-accent-color: #52c771;
    --main-primary-button: #65cd81;
    --main-secondary-button: #e0f5e6;
    --main-text-color: #07170c;
    --secondary-text-color: #929292;

}

html {
    font-size: 16px;
}

p {
    font-size: 0.75rem;
}

h4 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.25rem;
}

h1 {
    font-size: 2.625rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border-style: none;
    
}

body,html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 42px;
}

input[type="text"] {
    height: 50px;
    width: 230px;
    background: #EEF2EF;
    border-radius: 100px;
    padding: 15px;
    font-style: italic;
}

input[type="number"] {
    height: 50px;
    width: 230px;
    background: #EEF2EF;
    border-radius: 100px;
    padding: 15px;
    font-style: italic;
}


input[type="password"] {

    height: 50px;
    width: 230px;
    background: #EEF2EF;
    border-radius: 100px;
    padding: 15px;
    font-style: italic;
}

.primary-button {
    background-color: var(--main-primary-button);
    color: var(--main-text-color);
    border-radius: 100px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.secondary-button {
    background-color: var(--main-secondary-button);
    color: var(--main-text-color);
    border-radius: 100px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    cursor: pointer;
}

.secondary-link {
    font-style: italic;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}


@media only screen and (max-width: 532px) {
    html {
        font-size: 10px;
    }
}

nav {
    display: flex;
    background-color: #F6F6F6;
    align-items: center;
    padding: 20px 0px 20px 0px;
    gap: 32px;
    width: 100vw;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}

nav input[type="text"] {
    width: 413px;
    height: 50px;
    background-color: #FFFFFF;
}

#nav-container {
    display: flex;
    gap: 32px;
    align-items: center;
    width: 100%;
    margin: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-left {
    display: flex;
    gap: 32px;
}

#nav-right {
    display: flex;
    gap: 32px;
}

li {
    list-style-type: none;
}

#nav-logo {
    width: 50px;
    height: 50px;

}



#nav-stats {
    display: flex;
    gap: 21px;
    align-items: center;
    font-weight: 500;
    color: var(--secondary-text-color);
}

#nav-stats p {
    font-size: 1rem;
    padding-bottom: 5px;
}

#nav-icons {
    display: flex;
    gap: 12px;
}

#nav-pfp {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

#nav-search {
    display: flex;
    gap: 32px;
}

#user-info {
    display: flex;
    gap: 14px;
    align-items: center;

}

#user-info img {
    cursor: pointer;
}

.sidebar {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 20%;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 32%;
    background-color: #E0E0E0;
    width: 100%;

}

#side-searchbar {
    height: 35px;
    width: 85%;
    background-color: white;
    align-self: center;
}

.side-header {
    text-align: left;
    padding: 5%;
}

.side-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-bottom: 5%;
}

.shape {
    width: 90%;
    height: 55px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.shape img {
    width: 13%;
    border-radius: 100px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: contain
}

